.ace_editor {
  font-family: var(--mat-mono);
}

.ace-tomorrow {
  background: var(--mat-contrast);
  color: var(--mat-fg);
}

.ace-tomorrow .ace_cursor {
  color: var(--mat-primary);
}

.ace-tomorrow .ace_gutter {
  background: var(--mat-bg);
  color: var(--mat-text);
}

.ace-tomorrow .ace_print-margin {
  background: var(--mat-bg);
}

.ace-tomorrow .ace_marker-layer .ace_selection {
  background: var(--mat-selectBg);
}

.ace-tomorrow.ace_multiselect .ace_selection.ace_start {
  box-shadow: 0 0 3px 0px var(--mat-selFg);
}

.ace-tomorrow .ace_marker-layer .ace_step {
  background: var(--mat-accent);
}

.ace-tomorrow .ace_marker-layer .ace_bracket {
  margin: -1px 0 0 -1px;
  border: 1px solid var(--mat-operator);
}

.ace-tomorrow .ace_marker-layer .ace_active-line {
  background: var(--mat-tree);
}

.ace-tomorrow .ace_gutter-active-line {
  background-color: var(--mat-tree);
}

.ace-tomorrow .ace_marker-layer .ace_selected-word {
  border: 1px solid var(--mat-hl);
}

.ace-tomorrow .ace_invisible {
  color: var(--mat-comment);
}

.ace-tomorrow .ace_gutter-active-line {
  background-color: var(--mat-tree);
}

.ace-tomorrow .ace_keyword,
.ace-tomorrow .ace_meta,
.ace-tomorrow .ace_storage,
.ace-tomorrow .ace_storage.ace_type,
.ace-tomorrow .ace_support.ace_type {
  color: var(--mat-keyword);
}

.ace-tomorrow .ace_heading,
.ace-tomorrow .ace_markup.ace_heading,
.ace-tomorrow .ace_string {
  color: var(--mat-string);
}

.ace-tomorrow .ace_comment {
  color: var(--mat-comment);
}


.ace-tomorrow .ace_keyword.ace_operator {
  color: var(--mat-operator);
}

.ace-tomorrow .ace_constant.ace_character, .ace-tomorrow .ace_constant.ace_language, .ace-tomorrow .ace_constant.ace_numeric, .ace-tomorrow .ace_keyword.ace_other.ace_unit, .ace-tomorrow .ace_support.ace_constant, .ace-tomorrow .ace_variable.ace_parameter {
  color: var(--mat-number);
}


.ace-tomorrow .ace_constant.ace_other {
  color: var(--mat-variable);
}

.ace-tomorrow .ace_invalid {
  color: var(--mat-selFg);
  background-color: var(--mat-error);
}

.ace-tomorrow .ace_invalid.ace_deprecated {
  color: var(--mat-disabled);
  background-color: transparent;
}

.ace-tomorrow .ace_fold {
  background-color: var(--mat-tree);
  border-color: var(--mat-link);
}


.ace-tomorrow .ace_entity.ace_name.ace_function, .ace-tomorrow .ace_support.ace_function, .ace-tomorrow .ace_variable {
  color: var(--mat-variable);
}

.ace-tomorrow .ace_support.ace_class, .ace-tomorrow .ace_support.ace_type {
  color: var(--mat-attribute);
}

.ace-tomorrow .ace_entity.ace_name.ace_tag, .ace-tomorrow .ace_entity.ace_other.ace_attribute-name, .ace-tomorrow .ace_meta.ace_tag, .ace-tomorrow .ace_string.ace_regexp, .ace-tomorrow .ace_variable {
  color: var(--mat-tag);
}

.ace-tomorrow .ace_indent-guide {
  background: var(--mat-background);
}




