/* ==UserStyle==
@name   Material Themes root
@namespace  https://www.material-theme.com
@version 1.0.0
@description Material Theme Root (variables)
@author Elior Boukhobza <elior@material-theme.com> (https://github.com/mallowigi)

@advanced text font-family "Font Family" "'Open Sans', 'Calibri', Tahoma, Helvetica, Arial"
@advanced text mono-font "Monospace Font" "'Operator Mono', 'Menlo', 'Consolas', 'Source Code Pro'"

@advanced dropdown theme "Theme" {
  Oceanic "Oceanic" <<<EOT
  
--primary: #ffcb6b;
--primaryT: #ffcb6b;
--accent: #009688;
--link: #009688;
--accentT: #00968890;
--accent2: #c792ea;
--accent2T: #c792ea90;
--bg: #263238;
--fg: #B0BEC5;
--text: #607D8B;
--selectBg: #546E7A;
--selBg: #546E7A;
--selectFg: #FFFFFF;
--selFg: #FFFFFF;
--button: #2E3C43;
--secondBg: #32424A;
--lbg: #32424A;
--second: #32424A;
--disabled: #415967;
--contrast: #1E272C;
--dbg: #1E272C;
--active: #314549;
--border: #2A373E;
--hl: #425B67;
--tree: #546E7A70;
--notif: #1E272C;
--excluded: #2E3C43;
--excl: #2E3C43;
--yellow: #ffcb6b;
--attribute: #ffcb6b;
--green: #c3e88d;
--string: #c3e88d;
--cyan: #89ddff;
--operator: #89ddff;
--blue: #82aaff;
--function: #82aaff;
--purple: #c792ea;
--keyword: #c792ea;
--red: #f07178;
--tag: #f07178;
--red2: #f07178;
--error: #f07178;
--orange: #f78c6c;
--number: #f78c6c;
--orange2: #f78c6c;
--gray: #546e7a;
--comment: #546e7a;
--silver: #eeffff;
--variable: #eeffff;
--black: #1E272C;
  
EOT;
  Darker "Darker" <<<EOT
 
--primary: #ffcb6b;
--primaryT: #ffcb6b;
--accent: #FF9800;
--link: #FF9800;
--accentT: #FF980090;
--accent2: #c792ea;
--accent2T: #c792ea90;
--bg: #212121;
--fg: #B0BEC5;
--text: #727272;
--selectBg: #353535;
--selBg: #353535;
--selectFg: #FFFFFF;
--selFg: #FFFFFF;
--button: #2A2A2A;
--secondBg: #292929;
--lbg: #292929;
--second: #292929;
--disabled: #474747;
--contrast: #1A1A1A;
--dbg: #1A1A1A;
--active: #323232;
--border: #292929;
--hl: #3F3F3F;
--tree: #32323270;
--notif: #1A1A1A;
--excluded: #323232;
--excl: #323232;
--yellow: #ffcb6b;
--attribute: #ffcb6b;
--green: #c3e88d;
--string: #c3e88d;
--cyan: #89ddff;
--operator: #89ddff;
--blue: #82aaff;
--function: #82aaff;
--purple: #c792ea;
--keyword: #c792ea;
--red: #f07178;
--tag: #f07178;
--red2: #f07178;
--error: #f07178;
--orange: #f78c6c;
--number: #f78c6c;
--orange2: #f78c6c;
--gray: #616161;
--comment: #616161;
--silver: #eeffff;
--variable: #eeffff;
--black: #1A1A1A;

EOT;
  Lighter "Lighter" <<<EOT
  
--primary: #F6A434;
--primaryT: #F6A434;
--accent: #00BCD4;
--link: #00BCD4;
--accentT: #00BCD490;
--accent2: #7C4DFF;
--accent2T: #7C4DFF90;
--bg: #FAFAFA;
--fg: #546E7A;
--text: #94A7B0;
--selectBg: #80CBC4;
--selBg: #80CBC4;
--selectFg: #546e7a;
--selFg: #546e7a;
--button: #F3F4F5;
--secondBg: #eae8e8;
--lbg: #eae8e8;
--second: #eae8e8;
--disabled: #D2D4D5;
--contrast: #F4F4F4;
--dbg: #F4F4F4;
--active: #E7E7E8;
--border: #d3e1e8;
--hl: #E7E7E8;
--tree: #80CBC480;
--notif: #eae8e8;
--excluded: #eae8e8;
--excl: #eae8e8;
--yellow: #F6A434;
--attribute: #F6A434;
--green: #91B859;
--string: #91B859;
--cyan: #39ADB5;
--operator: #39ADB5;
--blue: #6182B8;
--function: #6182B8;
--purple: #7C4DFF;
--keyword: #7C4DFF;
--red: #E53935;
--tag: #E53935;
--red2: #E53935;
--error: #E53935;
--orange: #F76D47;
--number: #F76D47;
--orange2: #F76D47;
--gray: #AABFC9;
--comment: #AABFC9;
--silver: #272727;
--variable: #272727;
--black: #F4F4F4;

EOT;
  Palenight "Palenight" <<<EOT
  
--primary: #ffcb6b;
--primaryT: #ffcb6b;
--accent: #ab47bc;
--link: #ab47bc;
--accentT: #ab47bc90;
--accent2: #c792ea;
--accent2T: #c792ea90;
--bg: #292D3E;
--fg: #A6ACCD;
--text: #676E95;
--selectBg: #3C435E;
--selBg: #3C435E;
--selectFg: #FFFFFF;
--selFg: #FFFFFF;
--button: #303348;
--secondBg: #34324a;
--lbg: #34324a;
--second: #34324a;
--disabled: #515772;
--contrast: #202331;
--dbg: #202331;
--active: #414863;
--border: #2b2a3e;
--hl: #444267;
--tree: #676E9570;
--notif: #202331;
--excluded: #2f2e43;
--excl: #2f2e43;
--yellow: #ffcb6b;
--attribute: #ffcb6b;
--green: #c3e88d;
--string: #c3e88d;
--cyan: #89ddff;
--operator: #89ddff;
--blue: #82aaff;
--function: #82aaff;
--purple: #c792ea;
--keyword: #c792ea;
--red: #f07178;
--tag: #f07178;
--red2: #f07178;
--error: #f07178;
--orange: #f78c6c;
--number: #f78c6c;
--orange2: #f78c6c;
--gray: #676E95;
--comment: #676E95;
--silver: #eeffff;
--variable: #eeffff;
--black: #202331;

EOT;
  Deep Ocean "Deep Ocean" <<<EOT
  
--primary: #ffcb6b;
--primaryT: #ffcb6b;
--accent: #84ffff;
--link: #84ffff;
--accentT: #84ffff90;
--accent2: #c792ea;
--accent2T: #c792ea90;
--bg: #0F111A;
--fg: #8F93A2;
--text: #4B526D;
--selectBg: #232632;
--selBg: #232632;
--selectFg: #FFFFFF;
--selFg: #FFFFFF;
--button: #191A21;
--secondBg: #181A1F;
--lbg: #181A1F;
--second: #181A1F;
--disabled: #464B5D;
--contrast: #090B10;
--dbg: #090B10;
--active: #1A1C25;
--border: #0F111A;
--hl: #1F2233;
--tree: #717CB416;
--notif: #090B10;
--excluded: #292D3E;
--excl: #292D3E;
--yellow: #ffcb6b;
--attribute: #ffcb6b;
--green: #c3e88d;
--string: #c3e88d;
--cyan: #89ddff;
--operator: #89ddff;
--blue: #82aaff;
--function: #82aaff;
--purple: #c792ea;
--keyword: #c792ea;
--red: #f07178;
--tag: #f07178;
--red2: #f07178;
--error: #f07178;
--orange: #f78c6c;
--number: #f78c6c;
--orange2: #f78c6c;
--gray: #717CB4;
--comment: #717CB4;
--silver: #eeffff;
--variable: #eeffff;
--black: #090B10;

EOT;
  Monokai Pro "Monokai Pro" <<<EOT
  
--primary: #78DCE8;
--primaryT: #78DCE8;
--accent: #ffd866;
--link: #ffd866;
--accentT: #ffd86690;
--accent2: #FF6188;
--accent2T: #FF618890;
--bg: #2D2A2E;
--fg: #fcfcfa;
--text: #939293;
--selectBg: #5B595C;
--selBg: #5B595C;
--selectFg: #FFFFFF;
--selFg: #FFFFFF;
--button: #403E41;
--secondBg: #403E41;
--lbg: #403E41;
--second: #403E41;
--disabled: #727072;
--contrast: #221F22;
--dbg: #221F22;
--active: #4A474B;
--border: #2d2a2e;
--hl: #5b595c;
--tree: #403E41;
--notif: #363437;
--excluded: #3a3a3c;
--excl: #3a3a3c;
--yellow: #78DCE8;
--attribute: #78DCE8;
--green: #FFD866;
--string: #FFD866;
--cyan: #FF6188;
--operator: #FF6188;
--blue: #A9DC76;
--function: #A9DC76;
--purple: #FF6188;
--keyword: #FF6188;
--red: #FF6188;
--tag: #FF6188;
--red2: #FF6188;
--error: #FF6188;
--orange: #AB9DF2;
--number: #AB9DF2;
--orange2: #AB9DF2;
--gray: #727072;
--comment: #727072;
--silver: #FCFCFA;
--variable: #FCFCFA;
--black: #221F22;

EOT;
  Arc Dark "Arc Dark" <<<EOT
 
--primary: #F9EE98;
--primaryT: #F9EE98;
--accent: #42A5F5;
--link: #42A5F5;
--accentT: #42A5F590;
--accent2: #9B859D;
--accent2T: #9B859D90;
--bg: #2f343f;
--fg: #D3DAE3;
--text: #8b9eb5;
--selectBg: #8888FF;
--selBg: #8888FF;
--selectFg: #FFFFFF;
--selFg: #FFFFFF;
--button: #383C4A;
--secondBg: #393f4c;
--lbg: #393f4c;
--second: #393f4c;
--disabled: #D3DAE3;
--contrast: #262b33;
--dbg: #262b33;
--active: #41416A;
--border: #404552;
--hl: #3F3F46;
--tree: #08507C;
--notif: #262a33;
--excluded: #474B57;
--excl: #474B57;
--yellow: #F9EE98;
--attribute: #F9EE98;
--green: #8F9D6A;
--string: #8F9D6A;
--cyan: #A7A7A7;
--operator: #A7A7A7;
--blue: #7587A6;
--function: #7587A6;
--purple: #9B859D;
--keyword: #9B859D;
--red: #CF6A4C;
--tag: #CF6A4C;
--red2: #CF6A4C;
--error: #CF6A4C;
--orange: #CDA869;
--number: #CDA869;
--orange2: #CDA869;
--gray: #747C84;
--comment: #747C84;
--silver: #CF6A4C;
--variable: #CF6A4C;
--black: #262b33;

EOT;
  Atom One Dark "Atom One Dark" <<<EOT
  
--primary: #E5C17C;
--primaryT: #E5C17C;
--accent: #2979ff;
--link: #2979ff;
--accentT: #2979ff90;
--accent2: #C679DD;
--accent2T: #C679DD90;
--bg: #282C34;
--fg: #979FAD;
--text: #979FAD;
--selectBg: #3A3F4B;
--selBg: #3A3F4B;
--selectFg: #FFFFFF;
--selFg: #FFFFFF;
--button: #3A3F4B;
--secondBg: #2F333D;
--lbg: #2F333D;
--second: #2F333D;
--disabled: #6B727D;
--contrast: #21252B;
--dbg: #21252B;
--active: #383E49;
--border: #282C34;
--hl: #383D48;
--tree: #3A3F4B;
--notif: #282C34;
--excluded: #3c4150;
--excl: #3c4150;
--yellow: #E5C17C;
--attribute: #E5C17C;
--green: #98C379;
--string: #98C379;
--cyan: #61AFEF;
--operator: #61AFEF;
--blue: #61AEEF;
--function: #61AEEF;
--purple: #C679DD;
--keyword: #C679DD;
--red: #F07178;
--tag: #F07178;
--red2: #F07178;
--error: #F07178;
--orange: #D19A66;
--number: #D19A66;
--orange2: #D19A66;
--gray: #59626F;
--comment: #59626F;
--silver: #D19A66;
--variable: #D19A66;
--black: #21252B;

EOT;
  Atom One Light "Atom One Light" <<<EOT
  
--primary: #C18401;
--primaryT: #C18401;
--accent: #2979ff;
--link: #2979ff;
--accentT: #2979ff90;
--accent2: #A626A4;
--accent2T: #A626A490;
--bg: #FAFAFA;
--fg: #232324;
--text: #9D9D9F;
--selectBg: #DBDBDC;
--selBg: #DBDBDC;
--selectFg: #232324;
--selFg: #232324;
--button: #DBDBDC;
--secondBg: #EAEAEB;
--lbg: #EAEAEB;
--second: #EAEAEB;
--disabled: #424243;
--contrast: #FFFFFF;
--dbg: #FFFFFF;
--active: #DBDBDC;
--border: #DBDBDC;
--hl: #EAEAEB;
--tree: #DBDBDC80;
--notif: #F2F2F2;
--excluded: #DBDBDC;
--excl: #DBDBDC;
--yellow: #C18401;
--attribute: #C18401;
--green: #50A14E;
--string: #50A14E;
--cyan: #4078F2;
--operator: #4078F2;
--blue: #4078F2;
--function: #4078F2;
--purple: #A626A4;
--keyword: #A626A4;
--red: #E4564A;
--tag: #E4564A;
--red2: #E4564A;
--error: #E4564A;
--orange: #986801;
--number: #986801;
--orange2: #986801;
--gray: #A0A1A7;
--comment: #A0A1A7;
--silver: #986801;
--variable: #986801;
--black: #FFFFFF;

EOT;
  Solarized Dark "Solarized Dark" <<<EOT
  
--primary: #B58900;
--primaryT: #B58900;
--accent: #d33682;
--link: #d33682;
--accentT: #d3368290;
--accent2: #859900;
--accent2T: #85990090;
--bg: #002B36;
--fg: #839496;
--text: #586e75;
--selectBg: #2E4C52;
--selBg: #2E4C52;
--selectFg: #FFFFFF;
--selFg: #FFFFFF;
--button: #073642;
--secondBg: #003745;
--lbg: #003745;
--second: #003745;
--disabled: #2E5861;
--contrast: #00252E;
--dbg: #00252E;
--active: #11353F;
--border: #0D3640;
--hl: #11353F;
--tree: #2E4C52;
--notif: #2E4C52;
--excluded: #083F4D;
--excl: #083F4D;
--yellow: #B58900;
--attribute: #B58900;
--green: #2AA198;
--string: #2AA198;
--cyan: #93A1A1;
--operator: #93A1A1;
--blue: #B58900;
--function: #B58900;
--purple: #859900;
--keyword: #859900;
--red: #268BD2;
--tag: #268BD2;
--red2: #268BD2;
--error: #268BD2;
--orange: #D33682;
--number: #D33682;
--orange2: #D33682;
--gray: #657B83;
--comment: #657B83;
--silver: #268BD2;
--variable: #268BD2;
--black: #00252E;

EOT;
  Solarized Light "Solarized Light" <<<EOT
  
--primary: #657B83;
--primaryT: #657B83;
--accent: #d33682;
--link: #d33682;
--accentT: #d3368290;
--accent2: #859900;
--accent2T: #85990090;
--bg: #fdf6e3;
--fg: #586e75;
--text: #93a1a1;
--selectBg: #93a1a1;
--selBg: #93a1a1;
--selectFg: #002b36;
--selFg: #002b36;
--button: #FEFBF1;
--secondBg: #F6F0DE;
--lbg: #F6F0DE;
--second: #F6F0DE;
--disabled: #C9CCC3;
--contrast: #eee8d5;
--dbg: #eee8d5;
--active: #F6F0DE;
--border: #edead9;
--hl: #F6F0DE;
--tree: #93a1a1;
--notif: #EDE8D4;
--excluded: #E3DCC9;
--excl: #E3DCC9;
--yellow: #657B83;
--attribute: #657B83;
--green: #2AA198;
--string: #2AA198;
--cyan: #657B83;
--operator: #657B83;
--blue: #B58900;
--function: #B58900;
--purple: #859900;
--keyword: #859900;
--red: #268BD2;
--tag: #268BD2;
--red2: #268BD2;
--error: #268BD2;
--orange: #D33682;
--number: #D33682;
--orange2: #D33682;
--gray: #93A1A1;
--comment: #93A1A1;
--silver: #268BD2;
--variable: #268BD2;
--black: #eee8d5;

EOT;
  Dracula "Dracula" <<<EOT
  
--primary: #50FA7B;
--primaryT: #50FA7B;
--accent: #FF79C5;
--link: #FF79C5;
--accentT: #FF79C590;
--accent2: #FF79C6;
--accent2T: #FF79C690;
--bg: #282A36;
--fg: #F8F8F2;
--text: #6272A4;
--selectBg: #44475A;
--selBg: #44475A;
--selectFg: #FFFFFF;
--selFg: #FFFFFF;
--button: #393C4B;
--secondBg: #282A36;
--lbg: #282A36;
--second: #282A36;
--disabled: #6272A4;
--contrast: #191A21;
--dbg: #191A21;
--active: #44475A;
--border: #21222C;
--hl: #6272A4;
--tree: #44475A;
--notif: #1D2228;
--excluded: #34353D;
--excl: #34353D;
--yellow: #50FA7B;
--attribute: #50FA7B;
--green: #F1FA8C;
--string: #F1FA8C;
--cyan: #FF79C6;
--operator: #FF79C6;
--blue: #50FA78;
--function: #50FA78;
--purple: #FF79C6;
--keyword: #FF79C6;
--red: #FF79C6;
--tag: #FF79C6;
--red2: #FF79C6;
--error: #FF79C6;
--orange: #BD93F9;
--number: #BD93F9;
--orange2: #BD93F9;
--gray: #6272A4;
--comment: #6272A4;
--silver: #F8F8F2;
--variable: #F8F8F2;
--black: #191A21;

EOT;
  Night Owl "Night Owl" <<<EOT
  
--primary: #FAD430;
--primaryT: #FAD430;
--accent: #7e57c2;
--link: #7e57c2;
--accentT: #7e57c290;
--accent2: #c792ea;
--accent2T: #c792ea90;
--bg: #011627;
--fg: #b0bec5;
--text: #607d8b;
--selectBg: #152C3B;
--selBg: #152C3B;
--selectFg: #ffffff;
--selFg: #ffffff;
--button: #2e3c43;
--secondBg: #011627;
--lbg: #011627;
--second: #011627;
--disabled: #2e3c42;
--contrast: #001424;
--dbg: #001424;
--active: #152C3B;
--border: #2a373e;
--hl: #152C3B;
--tree: #152C3B;
--notif: #152C3B;
--excluded: #0B253A;
--excl: #0B253A;
--yellow: #FAD430;
--attribute: #FAD430;
--green: #ecc48d;
--string: #ecc48d;
--cyan: #c792ea;
--operator: #c792ea;
--blue: #82AAFF;
--function: #82AAFF;
--purple: #c792ea;
--keyword: #c792ea;
--red: #7fdbca;
--tag: #7fdbca;
--red2: #7fdbca;
--error: #7fdbca;
--orange: #f78c6c;
--number: #f78c6c;
--orange2: #f78c6c;
--gray: #637777;
--comment: #637777;
--silver: #addb67;
--variable: #addb67;
--black: #001424;

EOT;
  Light Owl "Light Owl" <<<EOT
  
--primary: #4876d6;
--primaryT: #4876d6;
--accent: #269386;
--link: #269386;
--accentT: #26938690;
--accent2: #994cc3;
--accent2T: #994cc390;
--bg: #FAFAFA;
--fg: #546e7a;
--text: #403F53;
--selectBg: #999e9e;
--selBg: #999e9e;
--selectFg: #403f53;
--selFg: #403f53;
--button: #FAFAFA;
--secondBg: #f2f5f7;
--lbg: #f2f5f7;
--second: #f2f5f7;
--disabled: #dddddd;
--contrast: #FAFAFA;
--dbg: #FAFAFA;
--active: #FAFAFA;
--border: #efefef;
--hl: #E0E7EA;
--tree: #E0E7EA;
--notif: #F0F0F0;
--excluded: #82AAFF;
--excl: #82AAFF;
--yellow: #4876d6;
--attribute: #4876d6;
--green: #c96765;
--string: #c96765;
--cyan: #7d818b;
--operator: #7d818b;
--blue: #4876d6;
--function: #4876d6;
--purple: #994cc3;
--keyword: #994cc3;
--red: #994cc3;
--tag: #994cc3;
--red2: #994cc3;
--error: #994cc3;
--orange: #aa0982;
--number: #aa0982;
--orange2: #aa0982;
--gray: #637777;
--comment: #637777;
--silver: #0C969B;
--variable: #0C969B;
--black: #FAFAFA;

EOT;
  GitHub "GitHub" <<<EOT
 
--primary: #6F42C1;
--primaryT: #6F42C1;
--accent: #79CB60;
--link: #79CB60;
--accentT: #79CB6090;
--accent2: #D73A49;
--accent2T: #D73A4990;
--bg: #F7F8FA;
--fg: #5B6168;
--text: #292D31;
--selectBg: #3A66D1;
--selBg: #3A66D1;
--selectFg: #111111;
--selFg: #111111;
--button: #F1F3F6;
--secondBg: #F7F8FA;
--lbg: #F7F8FA;
--second: #F7F8FA;
--disabled: #6C737C;
--contrast: #FFFFFF;
--dbg: #FFFFFF;
--active: #cce5ff;
--border: #DFE1E4;
--hl: #CCE5FF;
--tree: #3A66D1;
--notif: #DFECFE;
--excluded: #FDFDFD;
--excl: #FDFDFD;
--yellow: #6F42C1;
--attribute: #6F42C1;
--green: #032F62;
--string: #032F62;
--cyan: #D73A49;
--operator: #D73A49;
--blue: #6F42C1;
--function: #6F42C1;
--purple: #D73A49;
--keyword: #D73A49;
--red: #22863A;
--tag: #22863A;
--red2: #22863A;
--error: #22863A;
--orange: #005CC5;
--number: #005CC5;
--orange2: #005CC5;
--gray: #6A737D;
--comment: #6A737D;
--silver: #24292E;
--variable: #24292E;
--black: #FFFFFF;

EOT;
}
==/UserStyle== */

:root {
  /*[[theme]]*/
}

:root {
  --font: /*[[font-family]]*/, sans-serif;
}

:root {
  --mono: /*[[mono-font]]*/, monospace;
}
