/* ==UserStyle==
@name           Material Github
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Me
==/UserStyle== */
@-moz-document domain("github.com") {
  /* 	.blob-code {
      background: var(--mat-bg);
    } */

  .pl-c,
  .pl-c span {
    color: var(--mat-comment) !important;
    font-style: italic !important
  }
  .pl-c1 {
    color: var(--mat-attribute) !important
  }
  .pl-cce {
    color: var(--mat-operator) !important;
    font-weight: 400 !important
  }
  .pl-cn {
    color: var(--mat-keyword) !important
  }
  .pl-coc {
    color: var(--mat-keyword) !important
  }
  .pl-cos {
    color: var(--mat-string) !important
  }
  .pl-e {
    color: var(--mat-attribute) !important
  }
  .pl-ef {
    color: var(--mat-function) !important
  }
  .pl-en {
    color: var(--mat-function) !important
  }
  .pl-enc {
    color: var(--mat-attribute) !important
  }
  .pl-enf {
    color: var(--mat-function) !important
  }
  .pl-enm {
    color: var(--mat-function) !important
  }
  .pl-ens {
    color: var(--mat-keyword) !important
  }
  .pl-ent {
    color: var(--mat-tag) !important
  }
  .pl-entc {
    color: var(--mat-number) !important
  }
  .pl-enti {
    color: var(--mat-variable) !important;
    font-weight: 700 !important
  }
  .pl-entm {
    color: var(--mat-keyword) !important
  }
  .pl-eoa {
    color: var(--mat-attribute) !important
  }
  .pl-eoac {
    color: var(--mat-number) !important
  }
  .pl-eoac .pl-pde {
    color: var(--mat-number) !important
  }
  .pl-eoai {
    color: var(--mat-link) !important
  }
  .pl-eoai .pl-pde {
    color: var(--mat-number) !important
  }
  .pl-eoi {
    color: var(--mat-string) !important
  }
  .pl-ii {
    color: var(--mat-error) !important;
  }
  .pl-k {
    color: var(--mat-keyword) !important
  }
  .pl-ko {
    color: var(--mat-operator) !important
  }
  .pl-kolp {
    color: var(--mat-operator) !important
  }
  .pl-kos {
    color: var(--mat-operator) !important;
  }
  .pl-kos + .pl-c1 {
    color: var(--mat-variable) !important;
  }
  .pl-kou {
    color: var(--mat-number) !important
  }
  .pl-mai .pl-sf {
    color: var(--mat-function) !important;
    font-style: italic !important;
  }
  .pl-mb {
    color: var(--mat-fg) !important;
    font-weight: 700 !important
  }
  .pl-mc {
    color: var(--mat-link) !important
  }
  .pl-mh {
    color: var(--mat-tag) !important;
    font-weight: 400 !important
  }
  .pl-mh .pl-pdh {
    color: var(--mat-operator) !important
  }
  .pl-mi {
    color: var(--mat-fg) !important;
    font-style: italic !important
  }
  .pl-ml {
    color: var(--mat-error) !important
  }
  .pl-mm {
    color: var(--mat-variable) !important
  }
  .pl-mp {
    color: var(--mat-tag) !important
  }
  .pl-mp1 .pl-sf {
    color: var(--mat-function) !important
  }
  .pl-mq {
    color: var(--mat-string) !important
  }
  .pl-mr {
    color: var(--mat-keyword) !important
  }
  .pl-ms {
    color: var(--mat-operator) !important
  }
  .pl-pdb {
    color: initial !important;
    font-weight: 700 !important
  }
  .pl-pdc {
    color: var(--mat-comment) !important;
    font-style: italic !important
  }
  .pl-pdc1 {
    color: var(--mat-number) !important
  }
  .pl-pde {
    color: var(--mat-attribute) !important
  }
  .pl-pdi {
    color: initial !important;
    font-style: italic !important
  }
  .pl-pds {
    color: var(--mat-string) !important
  }
  .pl-pdv {
    color: #7587a6 !important
  }
  .pl-pse {
    color: var(--mat-operator) !important
  }
  .pl-pse .pl-s2 {
    color: #cf6a4c !important
  }
  .pl-s {
    color: var(--mat-string) !important
  }
  .pl-s1 {
    color: var(--mat-string) !important
  }
  .pl-s2 {
    color: var(--mat-fg) !important
  }
  .pl-mp .pl-s3 {
    color: var(--mat-operator) !important
  }
  .pl-s3 {
    color: var(--mat-operator) !important
  }
  .pl-sc {
    color: var(--mat-attribute) !important
  }
  .pl-scp {
    color: var(--mat-number) !important
  }
  .pl-sf {
    color: var(--mat-function) !important
  }
  .pl-smc {
    color: var(--mat-keyword) !important
  }
  .pl-smi {
    color: var(--mat-tag) !important
  }
  .pl-smp {
    color: var(--mat-variable) !important
  }
  .pl-sok {
    color: var(--mat-keyword) !important;
    font-weight: bold !important;
  }
  .pl-sol {
    color: var(--mat-link) !important
  }
  .pl-som {
    color: var(--mat-link) !important
  }
  .pl-sr {
    color: var(--mat-string) !important
  }
  .pl-sra {
    color: var(--mat-operator) !important
  }
  .pl-src {
    color: var(--mat-string) !important
  }
  .pl-sre {
    color: var(--mat-string) !important
  }
  .pl-st {
    color: var(--mat-attribute) !important
  }
  .pl-stj {
    color: var(--mat-attribute) !important
  }
  .pl-stp {
    color: var(--mat-tag) !important
  }
  .pl-sv {
    color: var(--mat-variable) !important
  }
  .pl-v {
    color: var(--mat-variable) !important
  }
  .pl-vi {
    color: var(--mat-link) !important
  }
  .pl-vo {
    color: var(--mat-variable) !important
  }
  .pl-vpf {
    color: var(--mat-number) !important
  }
  .pl-mi1 {
    color: var(--mat-string) !important;
    background: #002200 !important
  }
  .pl-mdht {
    color: var(--mat-link) !important;
    background: #002200 !important
  }
  .pl-md {
    color: var(--mat-comment) !important;
    background: #220000 !important
  }
  .pl-mdhf {
    color: var(--mat-link) !important;
    background: #220000 !important
  }
  .pl-mdr {
    color: var(--mat-number) !important;
    font-weight: 400 !important
  }
  .pl-mdh {
    color: var(--mat-attribute) !important;
    font-weight: 400 !important
  }
  .pl-mdi {
    color: var(--mat-operator) !important;
    font-weight: 400 !important
  }
  .pl-bu,
  .pl-ii,
  .pl-ii .pl-cce {
    background-color: none !important;
    color: var(--mat-error) !important
  }
  .pl-mo {
    color: var(--mat-number) !important
  }
  .pl-mri {
    color: var(--mat-silver) !important
  }
  .pl-ms1 {
    background-color: var(--mat-hl) !important
  }
  .pl-va {
    color: var(--mat-link) !important
  }
  .pl-vpu {
    color: var(--mat-link) !important
  }
  .pl-entl {
    color: var(--mat-text) !important
  }
  .highlight .pl-corl span.x,
  .pl-corl {
    color: var(--mat-link) !important;
    text-decoration: underline !important
  }
  .pl-token.active,
  .pl-token:hover {
    background: var(--mat-hl) !important;
    color: var(--mat-selectFg) !important
  }
}
